body {
    margin: 0;
    padding: 0;

    background: 
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url('https://i.ibb.co/B26kF7MM/birthday.jpg')
    no-repeat center center;

    background-size: cover;

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

/* Container */
.container {
    text-align: center;
}

/* Button */
button {
    padding: 15px 30px;
    font-size: 20px;
    border: none;
    background: #ff4081;
    color: white;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #e91e63;
    transform: scale(1.05);
}

/* Hidden */
.hidden {
    display: none;
}

/* Surprise text */
#surprise {
    margin-top: 20px;
    color: white;
    animation: fadeIn 2s ease-in-out;
}

#surprise h1 {
    font-size: 40px;
}

#surprise p {
    font-size: 20px;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
